*{margin: 0;padding: 0;}
header{
    margin: 0 auto;
}
.navigation-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8px 15px;
    gap: 0.5rem;
    background-color: #fff;
    margin: 0 67px;
}
.for-user{
    width: 40%;
}
.for-user img{
    vertical-align: middle;
}
.button{
    text-decoration: none;
    font-family: iranyekanwebregular;
    color: #fff;
    background-color: #00bf6f;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 0.9rem;
    padding-left: 30px;
    
}
.button:hover{
    background-color: #009657;
    transition: 1s;
}
#search-input{
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    padding: 1px 40px 1px 2px;
    border: none;
    border-radius: 8px;
    font-family: iranyekanwebmedium;
    font-size: 1rem;
    line-height: 40px;
    color: #303030;
    position: relative;
    margin-right: 100px;
}
.logo{
    padding-right: 80px;
}
.navigation-catrgories{
    align-items: center;
    background-color: #fff;
}
.navigation-catrgories ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.navigation-catrgories{
    padding: 9px 0;
    margin: 0 67px;
}
.navigation-catrgories a{
    text-decoration: none;
    color: #101010;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    padding: 0 16px;
}
#border-left{
    border-left: 1px solid #ededed;
    margin: 0 0 0 32px;
    height: 22px;
}
#hamburger{
    vertical-align: middle;
    margin-right: 15px;
}
#border-bottom:hover{
    border-bottom: 2px solid #00bf6f;
}
#border-bottom{
    margin-right: -15px;
}
.icon{
    display: flex;
    display: none;
}
.icon img{
    width: 40px;
    height: 40px;
}
.product-menu{
    background-color: #fff;
    display: none;
    position: relative;
    z-index: 1000;
}
.product-menu ul{
    position: absolute;
    top: 0;
    left: -12px;
    display: flex;
    flex-direction: column;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 8px 8px;
    background-color: #fff;
}
.menu-hover:hover .product-menu{
    display: block;
}
.product-menu li{
    font-size: 0.8rem;
    font-family: YekanBakhMedium;
    line-height: 45px;
}
.product-menu li:hover{
    background-color: #ededed;
    transition: 0.4s;
}
.product-menu a:hover{
    color: #00ca76;
}
.product-menu a{
    color: #303030;
}
.product-menu img{
    width: 20px;
    height: 20px;
    
}
section{
    margin: 0 67px 0 67px;
}
.banner1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}
.banner-right{
    flex: 2;
    position: relative;
    z-index: 1;
}
.banner-left{
    flex: 1;
    position: relative;
}
.img1{
    width: 100%;
    border-radius: 16px;
    height: 100%;
}
.img2{
    width: 100%;
    border-radius: 16px;
    height: 100%;
}
.arrow{
    display: flex;
    display: none;
}
.banner-right:hover .arrow{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    transition: 1s;
}
.arrow div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #303030;
    position: relative;
}
.arrow img{
    width: 15px;
    height: 15px;
}
.arrow a{
    position: absolute;
    top: 12px;
    left: 12px;
}
#right-arrow{
    margin-left: 20px;
}
.arrow2{
    display: flex;
    display: none;
}
.arrow2 div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #303030;
    position: relative;
}
.arrow2 img{
    width: 15px;
    height: 15px;
}
.arrow2 a{
    position: absolute;
    top: 12px;
    left: 12px;
}
#right-arrow2{
    margin-left: 20px;
}
.banner-left:hover .arrow2{
    display: block;
    transition: 1s;
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
}
.banner2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}
.banner-right2{
    flex: 1;
    position: relative;
}
.banner-left2{
    flex: 2;
    position: relative;
}
.img3{
    width: 100%;
    border-radius: 16px;
    height: 100%;
}
.img4{
    width: 100%;
    border-radius: 16px;
    height: 100%;
}
.arrow3{
    display: flex;
    display: none;
}
.banner-right2:hover .arrow3{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    transition: 1s;
}
.arrow3 div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #303030;
    position: relative;
}
.arrow3 img{
    width: 15px;
    height: 15px;
}
.arrow3 a{
    position: absolute;
    top: 12px;
    left: 12px;
}
#right-arrow3{
    margin-left: 20px;
}
.arrow4{
    display: flex;
    display: none;
}
.banner-left2:hover .arrow4{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    transition: 1s;
}
.arrow4 div{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #303030;
    position: relative;
}
.arrow4 img{
    width: 15px;
    height: 15px;
}
.arrow4 a{
    position: absolute;
    top: 12px;
    left: 12px;
}
#right-arrow4{
    margin-left: 20px;
}






@media (max-width:1200px){
    .navigation-general{
        width: 990px;
    }
    .navigation-catrgories{
        width: 990px;
        /* margin: auto; */
    }
    .logo{
        /* margin-left: 67px; */
    }
    #search-input{
        width: 60%;
    }
    .for-user{
        width: 400px;
    }
    section{
        width: 990px;
        margin-top: 30px;
    }
    .banner-right{
        position: relative;
        z-index: 1;
    }
    .banner-left{
        position: relative;
    }
}
@media (max-width:990px){
    header{
        width: auto;
    }
    #search-input{
        width: 321px;
        margin-right: 10px;
    }
    .logo{
        margin-left: 10px;
    }
    .for-user{
        display: none;
    }
    section{
        width: 100%;
        margin-top: 30px;
    }
    
}
@media (max-width:770px){
    #search-input{
        display: none;
    }
    .icon{
        display: block;
    }
    .navigation-general{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        margin-left: 0;
        margin-right: 0;
    }
    .navigation-general{
        width: auto;
    }
    .navigation-catrgories{
        display: none;
    }
    section{
        margin-top: 90px;
        margin-right: 10px;
    }
    .banner1 , .banner2{
        display: flex;
        flex-direction: column;
    }

}