*{margin: 0;padding: 0;}
header{
    width: 1360px;
    margin: 0 auto;
}
.navigation-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8px 15px;
    gap: 0.5rem;
    background-color: #fff;
    margin: 0 67px;
}
.for-user{
    width: 35%;
}
.for-user img{
    vertical-align: middle;
}
.button{
    text-decoration: none;
    font-family: iranyekanwebregular;
    color: #fff;
    background-color: #00bf6f;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 0.9rem;
    padding-left: 30px;
    
}
.button:hover{
    background-color: #009657;
    transition: 1s;
}
#search-input{
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    padding: 1px 40px 1px 2px;
    border: none;
    border-radius: 8px;
    font-family: iranyekanwebmedium;
    font-size: 1rem;
    line-height: 40px;
    color: #303030;
    position: relative;
    margin-right: 100px;
}
.logo{
    text-align: left;
    flex-basis: 25%;
    padding-right: 80px;
}
.navigation-catrgories{
    align-items: center;
    background-color: #fff;
}
.navigation-catrgories ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.navigation-catrgories{
    padding: 9px 0;
    margin: 0 67px;
}
.navigation-catrgories a{
    text-decoration: none;
    color: #101010;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    padding: 0 16px;
}
#border-left{
    border-left: 1px solid #ededed;
    margin: 0 0 0 32px;
}
#hamburger{
    vertical-align: middle;
}
#border-bottom:hover{
    border-bottom: 2px solid #00bf6f;
}
.icon{
    display: flex;
    display: none;
}
.icon img{
    width: 40px;
    height: 40px;
}
@media (max-width:1200px){
    navigation-general{
        width: 1000px;
        margin: auto;
    }
    .logo{
        margin-left: 67px;
    }
    #search-input{
        width: 60%;
    }
    .for-user{
        width: 400px;
    }
}
@media (max-width:990px){
    header{
        width: auto;
    }
    #search-input{
        width: 321px;
        margin-right: 10px;
    }
    .logo{
        margin-left: 10px;
    }
    .for-user{
        display: none;
    }
}
@media (max-width:770px){
    #search-input{
        display: none;
    }
    .icon{
        display: block;
    }
    .navigation-general{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .navigation-catrgories{
        display: none;
    }

}